* {
    border: none;
    border-radius: 0;
    font-family: JetBrainsMono Nerd Font, monospace;
    font-weight: bold;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #cdd6f4;
}

#workspaces button {
    padding: 3px;
    color: #555869;
    margin-right: 5px;
}

#workspaces button:hover {
    background: inherit;
    color: inherit;
    border-color: inherit;
    box-shadow: none;
    text-decoration: none;
    opacity: 1;
}

#workspaces button.active {
    color: #a6adc8;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
    border-radius: 10px;
}

#window,
#clock,
#cpu,
#memory,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray,
#bluetooth,
#backlight,
#custom-power {
    background: #1e1e2e;
    padding: 2px 10px;
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 0;
}

#workspaces {
    background: #1e1e2e;
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 8px;
    padding-left: 8px;
}

#window {
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 2px 15px;
}

#clock {
    color: #a6adc8;
    border-radius: 10px;
}

#cpu {
    color: #f38ba8;
    border-radius: 10px 0 0 10px;
    margin-left: 10px;
}

#memory {
    color: #fab387;
}

#backlight {
    color: #f9e2af;
}

#pulseaudio {
    color: #a6adc8;
}

#network {
    color: #94e2d5;
}

#bluetooth {
    color: #89b4fa;
}

#battery {
    color: #a6e3a1;
    margin-right: 10px;
    border-radius: 0 10px 10px 0;
}

#tray {
    border-radius: 10px 0 0 10px;
    margin-left: 10px;
}

#custom-power {
    color: #f38ba8;
    border-radius: 0 10px 10px 0;
    margin-right: 10px;
}